@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');


/* Conteneur global */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;  /* Prend toute la hauteur de l'écran */
  font-family: Arial, sans-serif;
  position: relative;
 
}

.profile-content {
  width: 420px;
  height: 650px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.profile-info {
  position: absolute;
  width: 100%;
  color: #fff;
  padding: 15px;
  text-align: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-sizing: border-box;
}

.profile-info h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.profile-location {
  font-size: 18px;
  color: #f1f1f1;
  margin-top: 5px;
}

.swipe {
  position: absolute;
  width: 100%;
  max-width: 350px;
  height: 100%;
  max-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Style des boutons Like et Dislike */
.profile-actions {
  background: #ff7eb470;
  border-radius: 30px;
  width: 250px;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: auto;
  z-index: 1000;
  position: relative;
}

.like-btn, .dislike-btn {
  font-size: 30px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
  background-color: #f1f1f1;
  border-radius: 100px;
  position: relative;
  width: 50px;
  height: 50px;
}

.title-home{
  font-family: 'Jersey 10', sans-serif;
  text-align: center;
  color: #ff758c;
  font-size: 45px;
}
  
body{
  background-color: #ff758c32;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin: 20px;
  color: linear-gradient(to right, #ff758c, #ff7eb3);
}

